<div class="modal-header">
    <h3>Connect</h3>
</div>
<div class="modal-body row-fluid">
    <form>
        <div class="span6">
            <label>Server and port</label>
            <input type="text" data-ng-model="server.name" />
            <label>Username</label>
            <input type="text" data-ng-model="server.username" />
            <label>Password</label>
            <input type="password" data-ng-model="server.password" />
        </div>
        <div class="span6">
            <label>Recently used servers:</label>
            <select data-ng-model="server.name" data-ng-options="s for s in servers"></select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-ng-click="close()">Close</button>
    <button class="btn btn-primary" data-ng-click="close(true)">Connect</button>
</div>
