<div data-ng-controller="MainController">
    <div>Current server: {{ currentServer.name }}</div>
    <div><button class="btn btn-mini" data-ng-click="selectServer()">Change Server</button></div>
    <ul>
        <li data-ng-repeat="database in databases">{{database}}</li>
    </ul>
</div>