<div class="container-fluid" data-ng-controller="MainController">
    <div class="row-fluid">
        <div class="span12">
            <tabset>
                <tab data-ng-repeat="workspace in workspaces" heading="{{workspace.name}}" active="workspace.active">
                    <div class="row-fluid" data-ng-controller="WorkspaceController">                    
                        <div class="span3">
                            <div>                                
                                <button class="btn btn-mini" data-ng-click="selectServer()">Change Server</button>
                            </div>
                            <div>                               
                                <select data-ng-model="currentServer.currentDatabase"
                                    data-ng-options="db for db in currentServer.databases"
                                    data-ng-change="selectDatabase()" size="10">
                                </select>
                            </div>
                            <div>
                                <label>Collections: </label>
                                <table class="table table-striped table-hover collections">
                                    <tr data-ng-repeat="collection in currentServer.collections">
                                        <td>{{collection}}</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <div class="span9" data-ng-controller="CommandController"> 
                            <label>Command</label>
                            <textarea rows="5" data-ng-model="command"></textarea>
                            <button class="btn btn-primary" data-ng-click="execute()">Execute</button>
                            <hr/>
                            <label>Results</label>
                            <div></div>
                        </div>
                    </div>
                </tab>
                <tab select="addWorkspace()">
                    <tab-heading>
                        <i class="icon-plus-sign"></i>
                    </tab-heading>  
                </tab>
            </tabset>                      
        </div>
    </div>
</div>
